---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/cards?key=TRELLO_DEV_PUB_KEY&token=TRELLO_TOKEN
    body:
      encoding: US-ASCII
      string: name=Please%20Release%20PeopleFinder&desc=Use%20the%20ops%20manual%20to%20release%20the%20app%20into%20production.&idList=BOARD_LIST_ID&idMembers=&labels=&pos=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.425.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1435173279368'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37e-a2c034b0"
      X-Iinfo:
      - 9-129305122-129303946 PNNY RT(1435173278792 187) q(0 0 0 0) r(2 2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"558b019fe0c40582a2asssaa","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2015-06-24T19:14:39.319Z","desc":"Use
        the ops manual to release the app into production.","descData":{"emoji":{}},"due":null,"email":"some_guy@boards.trello.com","idBoard":"some_board_id","idChecklists":[],"idLabels":[],"idList":"BOARD_LIST_ID","idMembers":[],"idShort":77,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Please
        Release PeopleFinder","pos":4096,"shortUrl":"https://trello.com/c/g","url":"https://trello.com/c/g/77-please-release-peoplefinder","stickers":[]}'
  recorded_at: Wed, 24 Jun 2015 19:14:39 GMT
recorded_with: VCR 2.9.3
